In [1]:
import numpy as np

In [2]:
import pandas as pd

In [24]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
dict={'a':10,'b':20,'c':30}
#table=pd.DataFrame(dict)
#inorder to implement DataFrame the values in our dictionary must be lists

In [19]:
table

    a   b   c
0  10  20  30

In [14]:
Employee1 = {'number': [1, 2, 3, 4, 5], 'name': ["abby", "jenny", "marc", "nina", "tom"], 'hourly salary': [3,12,14,15,11]}
table1 = pd.DataFrame(Employee1)

In [15]:
table1

   number   name  hourly salary
0       1   abby              3
1       2  jenny             12
2       3   marc             14
3       4   nina             15
4       5    tom             11

In [7]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data,index=labels)
#data and index are the parameters we pass

a    10
b    20
c    30
dtype: int64

In [21]:
pd.Series(my_data,labels)
# for list data

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(arr,labels)
# for array data

a    10
b    20
c    30
dtype: int32

In [26]:
pd.Series(dict)
# for dictionary
# it's automatically gonna take keys as index and values as data

a    10
b    20
c    30
dtype: int64

In [28]:
ser1=pd.Series([1,2,3,4],['USA','France','Germany','USSR'])

In [29]:
ser2=pd.Series([1,2,7,4],['USA','Italy','France','USSR'])

In [31]:
ser1+ser2
#on paerforming arithmetic operations in pandas ,int data type gets converted to float so that we don't loose any valuable information

France     9.0
Germany    NaN
Italy      NaN
USA        2.0
USSR       8.0
dtype: float64

In [34]:
ser1['USA']

1